Source: ros-indigo-carrot-planner
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-indigo-base-local-planner, ros-indigo-catkin, ros-indigo-costmap-2d, ros-indigo-nav-core, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-tf
Homepage: http://wiki.ros.org/carrot_planner
Standards-Version: 3.9.2

Package: ros-indigo-carrot-planner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-indigo-base-local-planner, ros-indigo-costmap-2d, ros-indigo-nav-core, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-tf
Description: This planner attempts to find a legal place to put a carrot for the robot to follow. It does this by moving back along the vector between the robot and the goal point.
