Source: ros-hydro-rotate-recovery
Section: misc
Priority: extra
Maintainer: Dave Hershberger <hersh@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libeigen3-dev, ros-hydro-base-local-planner, ros-hydro-catkin, ros-hydro-costmap-2d, ros-hydro-nav-core, ros-hydro-pluginlib, ros-hydro-roscpp, ros-hydro-tf
Homepage: http://wiki.ros.org/rotate_recovery
Standards-Version: 3.9.2

Package: ros-hydro-rotate-recovery
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-hydro-costmap-2d, ros-hydro-nav-core, ros-hydro-pluginlib, ros-hydro-roscpp, ros-hydro-tf
Description: This package provides a recovery behavior for the navigation stack that attempts to clear space by performing a 360 degree rotation of the robot.
