Source: ros-indigo-navigation
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/navigation
Standards-Version: 3.9.2

Package: ros-indigo-navigation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-amcl, ros-indigo-base-local-planner, ros-indigo-carrot-planner, ros-indigo-clear-costmap-recovery, ros-indigo-costmap-2d, ros-indigo-dwa-local-planner, ros-indigo-fake-localization, ros-indigo-map-server, ros-indigo-move-base, ros-indigo-move-base-msgs, ros-indigo-move-slow-and-clear, ros-indigo-nav-core, ros-indigo-navfn, ros-indigo-robot-pose-ekf, ros-indigo-rotate-recovery, ros-indigo-voxel-grid
Description: A 2D navigation stack that takes in information from odometry, sensor streams, and a goal pose and outputs safe velocity commands that are sent to a mobile base.
